<div class="btn-group" id="link-to-payroll-categories">
  <%= link_to payroll_categories_path, class:'btn btn-default reset-border-radius' do%>
      <i class="fa fa-bars"></i> Categories
  <% end %>
</div>