<div class="btn-group" id="new-payroll-category-button">
  <%= link_to new_payroll_category_path, remote:true, class:'btn btn-default reset-border-radius' do%>
      <i class="fa fa-plus"></i> Add New
  <% end %>
</div>