<div class="row reset-padding">
  <div class="tab-wrapper">
    <%= render 'expenses/expenses/tabs' %>
  </div>
  <div class="content-wrapper" id="expense-content">
    <%= render 'expenses/expenses/index_header_partial' %>
  </div>
</div>
