<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Daily Progress
      </h4>
    </div>

    <div class="secondary-color full-content-wrapper">
      <div class="content-body row mt10 mb10">
        <h3>Editing Task</h3>

        <%= render 'form', task: @task %>
      </div>
    </div>
  </div>
</div>
