
<ul class="expand-menu-items">
  <li> <%= link_to 'Dashboard', daily_progress_dashboard_path %></li>
  <li> <%= link_to 'My Work', daily_progress_tasks_path %></li>
  <li> <%= link_to 'My Report', daily_progress_my_report_path %></li>
  <li> <%= link_to 'Progress Reports', daily_progress_progress_reports_path %></li>
</ul>