<div class="table-warapper">
  <div class="table-warapper-body">
    <table class="table action-table beaccount-table tablesorter table-responsive table-hover table-striped bonus-payments-table">
      <thead>
      <tr>
        <% unless params[:employee_id].present? %>
            <th>Employee</th>
        <% end %>
        <th>Purpose</th>
        <th>Amount</th>
        <th>Date</th>
        <th></th>
      </tr>
      </thead>
      <tbody id="bonus-list">
      <% bonuses.each do |bonus| %>
          <%= render 'payroll/bonus_payments/bonus_row', bonus: bonus %>
      <% end %>
      </tbody>
    </table>
    <div id="pager">
      <%= render 'shared/pagination' if bonuses.size > 10 %>
    </div>
    <div class="no-data-found">
      <% unless bonuses.present? %>
          <%= render 'shared/no_data_found', message: 'No bonus found' %>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(function(){
        if ($("#bonus-list").find("tr").size() > 0) {
            $("#bonus-list")
                    .tablesorter({
                        headers: {
                            4: {
                                sorter: false
                            }
                        },
                        widthFixed: true,
                        widgets: ['zebra']
                    })
                    .tablesorterPager({container: $("#pager")});
        }
    });
</script>