<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Billing Edit Invoice
      </h4>
    </div>
    <div class="secondary-color">
      <div class="content-body-wrapper">
        <div class="row content-body">
          <%= render :partial => 'form' %>
          <div id="clients_holder" style="display: none;" class="quick_create_wrapper">
            <%#= render 'clients/new_client' %>
          </div>
          <div id="items_holder" style="display: none;" class="quick_create_wrapper">
            <%#= render 'items/new_item' %>
          </div>
          <div id="payment_terms_holder" style="display: none;" class="quick_create_wrapper">
            <%#= render 'payment_terms/new_term' %>
          </div>
          <div id="taxes_holder" style="display: none;" class="quick_create_wrapper">
            <%#= render 'taxes/new_tax' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>