<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        New Billing Invoice
      </h4>
    </div>
    <div class="secondary-color">
      <div class="content-body-wrapper">
        <div class="row content-body">
          <%= render :partial => 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
