<div class="table-warapper-body">
  <table class="table action-table beaccount-table tablesorter table-responsive table-hover table-striped done-application-list">
    <thead>
    <tr class="trew">
      <th>Employee</th>
      <th>Leave Category</th>
      <th>Attachment</th>
      <th>Type</th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>
    <tbody class="application-list">
    <% @leave_applications.each do |leave_application| %>
        <%= render 'leave/applications/list_item', leave_application: leave_application %>
    <% end %>
    </tbody>
  </table>
  <%#= will_paginate @leave_applications, {next_label: "<i class='fa fa-chevron-right'> </i>", previous_label: "<i class='fa fa-chevron-left'> </i>"} %>

  <div id="pager2">
    <%= render 'shared/pagination' if @leave_applications.size > 10 %>
  </div>

  <div class="no-data-found">
    <% unless @leave_applications.present? %>
        <%= render 'shared/no_data_found', message: params[:q].present? ? 'No ' + params[:q].capitalize + ' leave application' : 'No leave application found' %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
    $(function(){
        if ($(".done-application-list").find("tbody").find("tr").size() > 0) {
            $(".done-application-list")
                    .tablesorter({
                        headers: {
                            5:{
                                sorter: false
                            }
                        },
                        widthFixed: true,
                        widgets: ['zebra']
                    })
                    .tablesorterPager({container: $("#pager2")});
        }
    });
</script>
