<ul class="nav nav-tabs leave-report-tab">
  <li role="presentation" class="nav-item nav-item-Recent active">
    <a href="#recent" aria-controls="recent" role="tab" data-toggle="tab"> Recent </a>
  </li>
  <li role="presentation" class="nav-item nav-item-yearly">
    <a href="#yearly" aria-controls="yearly" role="tab" data-toggle="tab"> Yearly </a>
  </li>
</ul>
