<div class="row ">
  <div class="tab-wrapper">
    <%= render 'leave/applications/tabs' %>
  </div>
  <div class="content-wrapper" id="leave-application-table">
    <%= render 'leave/applications/all_leave_application'%>
  </div>
</div>