<div class="row reset-padding">
  <div class="tab-wrapper">
    <%= render 'leave/applications/report_tabs' %>
  </div>
  <div class="content-wrapper" id="leave_report_table">
    <%= render 'leave/applications/all_leave_reports'%>
  </div>
</div>


