<div class="bs-callout bs-callout-info mt5 mb5 clearfix on-pending">
  Some salaries are still unconfirmed. <%= link_to 'Click here', unconfirmed_salaries_payroll_salaries_path %> to confirm them.
</div>