<div class="pricing_container mt40">
  <div class='container'>
    <div class="module-pricing-area" >
      <div class="module-pricing-area-header mt40 mb30">
        <h2>Our Services</h2>
      </div>

      <div id="pp" >
        <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 16px">
          <div class='pricing animated# swing#' style="padding-top: 14px">
            <!--            <div class='thumbnail animated pulse infinite'>-->
            <!--              <div class=''>-->
            <%#= image_tag('module_settings/white_icon/attendance.png', width: 50) %>
            <%#= image_tag('icon.svg', width: 50) %>
            <!--              </div>-->
            <!--            </div>-->
            <div class='title'>
              Attendance
            </div>
            <div class='content'>
              <ul>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Attendance time schedule settings</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Employee in/out history</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> BioMetric attendance</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Offline online employee tracking</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Working hours and leave tracking</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Report, Custom holiday, Holiday.....</li>
              </ul>
              <hr>
              <h5 style="text-align: center"> BDT 1000 </h5>
              <div class='sub-title'>
                Buy Now
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 16px">
          <div class='pricing animated# swing#'  style="padding-top: 14px">
<!--            <div class='thumbnail animated pulse infinite'>-->
<!--              <div class='faxx fa-paper-planexx'>-->
                <%#= image_tag('module_settings/white_icon/employees.png', width: 50) %>
                <%#= image_tag('icon.svg', width: 50) %>
<!--              </div>-->
<!--            </div>-->
            <div class='title'>
              Employee & HR
            </div>
            <div class='content'>
              <ul>
                <li>
                  <i class="fa fa-check" aria-hidden="true"></i>
                  Employee’s hourly schedule
                </li>
                <li>
                  <i class="fa fa-check" aria-hidden="true"></i>
                  Keep track of all employee
                </li>
                <li>
                  <i class="fa fa-check" aria-hidden="true"></i>
                  Add new employee
                </li>
                <li>
                  <i class="fa fa-check" aria-hidden="true"></i>
                  Employee setting and report
                </li>
                <li>
                  <i class="fa fa-check" aria-hidden="true"></i>
                  All access right
                </li>
                <li>
                  <i class="fa fa-check" aria-hidden="true"></i>
                  Dashboard, Profile, Advance...
                </li>
              </ul>
              <hr>
              <h5 style="text-align: center"> BDT 1000 </h5>
              <div class='sub-title'>
                Buy Now
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 16px">
          <div class='pricing animated# swing#' style="padding-top: 14px">
<!--            <div class='thumbnail animated pulse infinite'>-->
<!--              <div class=''>-->
                <%#= image_tag('module_settings/white_icon/leave.png', width: 50) %>
                <%#= image_tag('icon.svg', width: 50) %>
<!--              </div>-->
<!--            </div>-->
            <div class='title'>
              Leave
            </div>
            <div class='content'>
              <ul>
                <li>   <i class="fa fa-check" aria-hidden="true"></i> Category and dashboard</li>
                <li>   <i class="fa fa-check" aria-hidden="true"></i>  Leave settings</li>
                <li>   <i class="fa fa-check" aria-hidden="true"></i> Leave application</li>
                <li>   <i class="fa fa-check" aria-hidden="true"></i> Leave calender</li>
                <li>   <i class="fa fa-check" aria-hidden="true"></i> Recent leave state</li>
                <li>   <i class="fa fa-check" aria-hidden="true"></i> Leave report, summary, transfer...</li>
              </ul>
              <hr>
              <h5 style="text-align: center"> BDT 1000 </h5>
              <div class='sub-title'>
                Buy Now
              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 16px">
          <div class='pricing animated# swing#' style="padding-top: 14px">
<!--            <div class='thumbnail animated pulse infinite'>-->
<!--              <div class=''>-->
                <%#= image_tag('module_settings/white_icon/payroll.png', width: 50) %>
                <%#= image_tag('icon.svg', width: 50) %>
<!--              </div>-->
<!--            </div>-->
            <div class='title'>
              Payroll
            </div>
            <div class='content'>
              <ul>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Salary category</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Individual salary for employee</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Group salary for department</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Bonuses salary for employee</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Deductions from salary if needed</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Pre process, Payslip, Report....</li>
              </ul>
              <hr>
              <h5 style="text-align: center"> BDT 1000 </h5>
              <div class='sub-title'>
                Buy Now
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 16px">
          <div class='pricing animated# swing#' style="padding-top: 14px">
<!--            <div class='thumbnail animated pulse infinite'>-->
<!--              <div class=''>-->
                <%#= image_tag('module_settings/white_icon/provident_fund.png', width: 50) %>
                <%#= image_tag('icon.svg', width: 50) %>
<!--              </div>-->
<!--            </div>-->
            <div class='title'>
              Provident Fund
            </div>
            <div class='content'>
              <ul>
                <li> <i class="fa fa-check" aria-hidden="true"></i> To support HR</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> FP account for eligible people</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Employee and company contribution</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> PF rules and policy</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Loan and advance form PF</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Investment, Return, Report...</li>
              </ul>
              <hr>
              <h5 style="text-align: center"> BDT 1000 </h5>
              <div class='sub-title'>
                Buy Now
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 16px">
          <div class='pricing animated# swing#' style="padding-top: 14px">
<!--            <div class='thumbnail animated pulse infinite'>-->
<!--              <div class=''>-->
                <%#= image_tag('module_settings/white_icon/expense.png', width: 50) %>
                <%#= image_tag('icon.svg', width: 50) %>
<!--              </div>-->
<!--            </div>-->
            <div class='title'>
              Expense
            </div>
            <div class='content'>
              <ul>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Expanse category and budgets</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Expense entry, approval and remark</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Monthly or yearly report</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Expense comparison</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Expanse dashboard and cost monitoring</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Report, Top expanse, Life expanse...</li>
              </ul>
              <hr>
              <h5 style="text-align: center"> BDT 1000 </h5>
              <div class='sub-title'>
                Buy Now
              </div>
            </div>
          </div>
        </div>

        <!--<div class="col-xs-12 col-sm-6 col-md-3">-->
        <!--<div class='pricing animated swing'>-->
        <!--<div class='thumbnail animated pulse infinite'>-->
        <!--<div class=''>-->
        <!--<%#= image_tag('module_settings/white_icon/inventory.png', width: 50) %>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class='title'>-->
        <!--Inventory-->
        <!--</div>-->
        <!--<div class='content'>-->
        <!--<div class='sub-title'>-->
        <!--$2.5-->
        <!--<i>per month</i>-->
        <!--</div>-->
        <!--<ul>-->
        <!--<li> Rapidly Respond To Customer needs</li>-->
        <!--<li> Offers Effective Features</li>-->
        <!--<li> Minimize Warehousing Costs</li>-->
        <!--<li> Flexible Enough</li>-->
        <!--<li> Optimize Storage</li>-->
        <!--<li> Others...</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

      </div>
    </div>
  </div>
</div>