<ul class="expand-menu-items">
  <li>
    <%= link_to 'Employees', employees_path %>
  </li>
  <li>
    <%= link_to 'Advances', employees_advances_path %>
  </li>
  <li>
    <%= link_to 'Advance History', history_employees_advances_path %>
  </li>
  <li>
    <%= link_to 'Access Rights', access_rights_employees_path %>
  </li>
</ul>