<div class="row default-background">

  <div class="community-wrap">
    <div class="community-container container">
      <div class="col-md-12 pt15">

        <div class="col-md-9">
          <div class="community-body">
            <%= render 'community/posts/details' %>
          </div>
        </div>


        <%= render 'community/shared/left_side' %>

      </div>
    </div>
  </div>

</div>
